<div style="color: green">
  <%= notice %>
</div>

<h1 class="header">My List Page</h1>

<article class="article">
  <div class="todo_lists">
    <% @todo_lists.each do |todo_list| %>
      <div class=list_list>
        <a class="list_title" href="<%= todo_list_path(todo_list) %>">
          <%= todo_list.title %>
        </a>
        <a class="list_title_part2">
          <%=todo_list.entries.where(done: true).count%> / <%=todo_list.entries.count%> task done
        </a>
        <a class="edit_list" href="<%=edit_todo_list_path(todo_list) %>">
          <div>
            <i class="fa fa-edit"></i>
          </div>
        </a>
        <div class="delete">
          <%= button_to "Delete", todo_list_path(todo_list), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
  <a class="new_list" href="<%=new_todo_list_path %>">
      <i class="fa fa-plus"></i>
  </a>
</article>


