<div style="color: green">
  <%= notice %>
</div>

<header id="header"></header>

<article class="article">
  <div class="search_bar">
    <%= form_tag "/todo_lists", method: "GET" do %>
      <%= label_tag :search_by_title %>
      <%= text_field_tag :search_by_title, params[:search_by_title] %>
      <%= submit_tag "Search" %>
      <a href="/"><i class="fa fa-times"></i></a>

    <% end %>
  </div>
  <div class="react_content" id="root">

  </div>
  <!--
  <div class="todo_lists">
    <% if @todo_lists.none? %>
      <p class="not_found">List not found . . .</p>
    <% end %>

    <% @todo_lists.each do |todo_list| %>
      <div class=list_list>
        <a class="list_title" href="<%= todo_list_path(todo_list) %>">
          <%= todo_list.title %>
        </a>
        <a class="list_title_part2">
          <%= todo_list.completion_text %>
        </a>
        <a class="edit_list" href="<%=edit_todo_list_path(todo_list) %>">
          <div>
            <i class="fa fa-edit"></i>
          </div>
        </a>
        <div class="delete_todo_list">
          <%= button_to "Delete", todo_list_path(todo_list), method: :delete %>
        </div>
      </div>
    <% end %>
  </div>
  <a class="new_list" href="<%=new_todo_list_path %>">
      <i class="fa fa-plus"></i>
  </a>
  -->
</article>


