<div><%= notice %></div>

<header class="header">

  <a class="back_new" href="<%= todo_lists_path %>">
    <i class="fa fa-reply"></i>
  </a>

  <h1 class="header_list_x">
    Title : <%= @todo_list.title %>
    <a class=header_list_x_part2>
      <%=@todo_list.entries.where(done: true).count%> / <%=@todo_list.entries.count%> task done
    </a>
  </h1>


</header>


<article class="article_show">
  <div class="show_list">
    <div class="todo_lists">
        <% @todo_list.entries.each do |entry| %>
        <a href="<%= "/todo_lists/#{@todo_list.id}/entries/#{entry.id}/toggle" %>">
          <div class=list_list>
            <%if entry.done == false%>
              <i class="fa fa-square-o"></i>
            <%else%>
              <i class="fa fa-check-square-o"></i>
            <%end%>
            <a class="list_title">
              <%= entry.name %>
            </a>
            <a class="edit_list" href="<%="/todo_lists/#{@todo_list.id}/entries/#{entry.id}/edit"%>">
            <div>
            <i class="fa fa-edit"></i>
            </div>
            </a>
          <div class="delete">
            <%= button_to "Delete", todo_list_entry_path(@todo_list,entry), method: :delete %>
          </div>
          </div>
        </a>
      <% end %>
    </div>
  </div>
  <a class="create_entry" href="<%="/todo_lists/#{@todo_list.id}/entries/new"%>">
    <i class="fa fa-plus"></i>
  </a>
</article>
