<div><%= notice %></div>

<header class="header">

  <a class="back_new" href="<%= todo_lists_path %>">
    <i class="fa fa-reply"></i>
  </a>

  <h1 class="header_list_x">
    Title : <%= @todo_list.title %>
    <a class=header_list_x_part2>
      <%= @todo_list.completion_text %>
    </a>
  </h1>


</header>


<article class="article_show">
  <div class="show_list">
      <div class="search_entry">
        <p>Find an entry : </p>
        <input class="input_entry" type="text" placeholder="Search..">
      </div>
    <div class="todo_list" data-id="<%= @todo_list.id %>">
      <% @todo_list.entries.each do |entry| %>
        <a href="<%= "/todo_lists/#{@todo_list.id}/entries/#{entry.id}/toggle" %>">
          <div class="list_list">
            <% if !entry.done %>
              <i class="fa fa-square-o"></i>
            <% else %>
              <i class="fa fa-check-square-o"></i>
            <% end %>
            <a class="list_title">
              <%= entry.name %>
            </a>
            <a class="edit_list" href="<%="/todo_lists/#{@todo_list.id}/entries/#{entry.id}/edit"%>">
              <i class="fa fa-edit"></i>
            </a>
            <a class="delete" data-entry-id="<%= entry.id %>"><i class="fa fa-trash"></i></a>
          </div>
        </a>
      <% end %>

      <h1 class="not_found" style="display:none">Not found . . .</h1>
    </div>
  </div>
  <a class="create_entry" href="<%="/todo_lists/#{@todo_list.id}/entries/new"%>">
    <i class="fa fa-plus"></i>
  </a>
</article>
