<!DOCTYPE html>
<html>
  <head>
    <title>My todoList app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", defer: true %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>

  <body id="<%= params[:controller] %>-<%= params[:action] %>">
  
    <%= yield %>

    <footer>
      <p class="copyright">@Copyright Trolais Benjamin</p>
      <a  href="https://github.com/BenjaminFalcon27/myfirstreactproject"
          target="_blank" 
          rel="noopener noreferrer">
        <i class="fa fa-github"></i>
      </a>
    </footer>
  </body>
</html>
